{
    "extends": "airbnb",
    "parser": "babel-eslint",
    "env": {
        "brower": true
    },
    "rules": {
        "brace-style": ["error", "stroustrup"],
        "no-param-reassign": ["error", { "props": false}],
        "no-mixed-operators": ["error", { "allowSamePrecedence": true}],
        "jsx-ally/no-static-element-interactions": "off",
        "jsx-ally/href-no-hash": "off",
        "jsx-ally/anchor-is-valid": "off",
        "jxs-ally/mouse-events-have-key-events": "off",
        "jsx-ally/click-events-have-key-events": "off",
        "jsx-ally/no-noninterative-element-interactions": "off",
        "react/jsx-filename-extension": "off",
        "react/forbid-prop-types": "off",
        "react/no-access-state-in-setstate": "warn",
        "react/jsx-one-expression-per-line": "off",
        "react/destructuring-assignment": "warn",
        "react/no-unescaped-entities": "off"
    },
    "settings": {
        "import/resolver": "webpack"
    }
}